<ngb-carousel *ngIf="popularProd">
    <ng-template *ngFor="let product of popularProd" ngbSlide>
        <div class="picsum-img-wrapper">
          <a routerLink="/details/{{product.id}}">  <img class="product-header-img" src="{{product.image}}" alt="Random first slide" /></a>
        </div>
        <div class="carousel-caption">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
        </div>
    </ng-template>
   
</ngb-carousel>

<div class="product-list-wrapper" *ngIf="trendyProduct">
    <h1>Trendy Products</h1>
    <div class="row">
        <div class="col-sm-3" *ngFor="let product of trendyProduct">
            <div class="product-item">
                <img src="{{product.image}}" alt="">
            
            <div class="product-details">
                <h6 class="name-head">{{product.name}}</h6>
                <div class="product-price">
                    <h6>{{product.price}}</h6>
                </div>
                <div class="product-color">
                    <h6>{{product.color}}</h6>
                </div>
            </div>       
        
        <div class="product-footer">
            <a routerLink="/details/{{product.id}}">View Deatils</a>
            <a href="">Add To Cart</a>

        </div>
    </div>
</div>